/* Font Imports - Including Browser Supports */
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Tablet */

/* Main Body Presets */


@media screen and (min-width: 320px) {
    /* Nav Area Container */

    body,
    html {
        height: 100%;
        width: 100%;
        position: relative;
        scroll-behavior: smooth;
        font-family: 'Raleway-Light', Ariel, sans-serif;
        color: #2d2d2d;
    }


    * {
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        padding: 0px;
    }


    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'PlayfairDisplay-Bold';
    }

    h1 {
        font-size: 2.5rem;
        font-family: "PlayfairDisplay-Regular";
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    p {
        /*line-height: 20px;*/
        font-family: "Raleway-Light";
        text-align: center;
        font-size: 14px;
    }

    .bio-text p,
    .sign-up p {
        line-height: 25px;
        padding: 0px 5px;
    }

    /* ----- NAV Section ----- */

    header {
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        width: 100%;
        height: 120px;
        z-index: 999;
        border: 1px solid #d7d7d7;
        background-color: #f4f4f4;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    }

    .logo {
        height: 40%;
        justify-content: flex-start;
        order: 1;
        align-self: center;
        padding-left: 5px;
        margin-top: 10px;
    }


    .cart {
        order: 2;
        height: 40%;
        margin-top: 10px;
        flex: 0 1 20%;
    }

    nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
        font-family: 'Raleway-Medium';
        margin: 0 auto;
        flex: 0 1 100%;
    }

    .main-nav>a {
        padding: 15px 15px;
        border-top: 1px solid #979797;
        text-transform: uppercase;
        color: #e2574c;
        font-size: 0.875rem;
        text-decoration: none;
        align-self: center;
    }

    .main-nav>span:hover {
        color: #b64036;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        cursor: pointer;
    }

    .container {
        padding-top: 70px;
        margin-top: -70px;
    }

    /* ---------- Hero Image Container ---------- */

    div.hero-image {
        /*border: 1px solid red;*/
        background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)),
            url('images/banner-girl.png') no-repeat, url('images/flower-bkgd.jpg') no-repeat;
        background-size: cover, 175px 450px;
        height: 650px;
        width: 100%;
        background-position: center, bottom;
        z-index: 100;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    div.hero-text {
        color: white;
        padding-top: 5rem;
    }

    div.hero-text h3 {
        /*border: 1px solid black;*/
        text-shadow: 1px 0px 2px #6f6f6f;
        font-family: 'Raleway-Light';
        margin-top: 20px;
    }

    div.hero-text h1 {
        text-shadow: 0px 1px 2px #6f6f6f;
        font-weight: lighter;
        margin-top: 20px;
        flex-flow: row wrap;
        max-width: 450px;

    }

    /* -------- Bio Text Container ---------- */
    .bio-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .bio-text h2 {
        line-height: 2em;
        padding: 10px;
    }

    .bio-text h2 em {
        font-family: 'PlayfairDisplay-Italic';
        font-weight: lighter;
    }

    /* --------- Gallery - Flexbox ---------- */

    .flexbox-gallery {
        max-width: 100%;
        width: 100%;
        height: 100%;
        font-family: 'Raleway-Medium';
        /* FLEX */
        display: flex;
        flex-flow: row wrap;
        text-transform: uppercase;
        padding-top: 70px;
        margin-top: -70px;
    }

    .gallery-cell {
        font-size: 1.25rem;
        text-shadow: 0px 1px 3px #2d2d2d;
        font-weight: normal;
        color: #fff;
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 200px;
        background-size: 100%;
        padding: 10px;
    }


    /* Gallery Inheritance Cells */
    .gallery-cell:first-child,
    .gallery-cell:last-child {
        flex: 0 1 90%;
        flex-grow: 1;
        flex-shrink: 1;
        border: 2px solid white;
    }

    .gallery-cell:nth-child(2),
    .gallery-cell:nth-child(3),
    .gallery-cell:nth-child(4),
    .gallery-cell:nth-child(5) {
        flex: 0 1 45%;
        flex-grow: 1;
        border: 2px solid white;
    }

    /* --- Individual Gallary Cell Targets --- */

    .gallery-cell:first-child {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/mens-category.jpg');
        background-size: cover;
        order: 1;
        background-position: bottom;
    }

    /* Trends-Cell */
    .gallery-cell:nth-child(2) {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/trends-category.jpg');
        background-size: cover;
        background-position: bottom;
        order: 2;
    }

    /* Glasses-Cell */
    .gallery-cell:nth-child(3) {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/glasses-category.jpg');
        background-size: cover;
        background-position: bottom;
        order: 3;
    }

    /* Sale-Cell */
    .gallery-cell:nth-child(4) {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/sale-category.jpg');
        background-size: cover;
        background-position: bottom;
        order: 4;
    }

    /* Bags-Cell */
    .gallery-cell:nth-child(5) {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/bags-category.jpg') no-repeat;
        background-size: cover;
        background-position: bottom;
        order: 5;
    }

    /* Womens-Cell */
    .gallery-cell:last-child {
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('images/womens-category.jpg');
        background-size: cover;
        background-position: bottom;
        order: 6;
    }



    /* ---------- Most-Loved Container ---------- */

    h2.most-loved {
        align-items: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    h2.most-loved {
        font-family: 'PlayfairDisplay-Italic';
        font-weight: lighter;
    }

    strong.strong {
        font-weight: bold;
        font-family: 'PlayfairDisplay-Bold';
    }

    div.carousel {
        height: auto;
    }



    .carousel-cell {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .carousel-cell:before {
        display: block;
        text-align: center;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-cell img {
        align-self: center;
        display: grid;
        margin: 0 auto;
    }

    .carousel-cell p,
    .carousel h3 {
        line-height: 1.5rem;
    }

    .carousel-cell p {
        padding: 10px;
        text-transform: uppercase;
        font-family: "Raleway-Medium";
        color: #969696;
    }

    .item-tag {
        font-size: 0.7rem;
    }

    h4.item-name {
        text-align: center;
        color: #e2574c;
        font-size: 1.5rem;
        font-family: "PlayfairDisplay-Regular";
        font-weight: lighter;
    }

    /* ---------- Sign-Up Container ----------- */
    .sign-up {
        background: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url('images/wave-bkgd.jpg');
        background-size: 300% cover;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;


    }

    .sign-up h2 {
        text-shadow: 0px 2px 3px #3a3a3a;
        font-family: "PlayfairDisplay-Italic";
        font-weight: lighter;
        padding-top: 35px;
        margin-bottom: 35px;
    }

    .input-area {
        display: inline-flex;
        justify-content: space-between;
        background-color: #fff;
        width: 80%;
        height: 35px;
        margin: 1rem auto;
        border-radius: 20px;
    }

    /* Input field for Sign Up */
    .input-group-field {
        padding-left: 20px;
        border: none;
        border-radius: 20px;
    }

    .input-group-field::placeholder {
        color: #969696;
        font-family: "Raleway-Light";
    }

    /* Sign Up Button */
    .button {
        margin-bottom: 0;
        background-color: #e2574c;
        width: 90px;
        font-weight: bold;
        color: #fff;
        height: auto;
        margin: 2px;
        border-radius: 20px;
        text-align: center;
        font-family: "Raleway-Light";
    }



    /* ---------- Footer Container ---------- */
    .footer-flex {
        background-color: #242424;
        color: #fff;
        height: 280px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 1px;
    }

    .contact p {
        font-family: "Ariel";
        line-height: 20px;
    }

    .contact a {
    	color: #fff;
    }

    .address {
        color: #969696;
    }

    /* -- Social Link Area -- */

    .social-list {
        display: inline-flex;
        list-style: none;
        order: 5;
        font-size: 0.7rem;
        line-height: 4;
        font-weight: lighter;
    }

    .social-list span {
    	display: none;
    	text-align: left;
    }

    .social-list i {
    	margin: 10px;
    }

    .social-facebook:hover {
        color: #458eff;
        /*transition: scale(1.5);*/
    }

    .social-twitter:hover {
        color: #38A1F3;

    }

    .social-instagram:hover {
        color: #ffc838;
    }

    .social-pinterest:hover {
        color: #c8232c;
    }

    .social-google:hover {
        color: #db4a39;
    }
}


@media screen and (min-width: 600px) {


    /*Nav Bar Tablet Re-size*/

    header {
        padding: 0;
        margin: 0;
        height: 70px;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .logo,
    .cart {
        width: 132px;
    }

    .logo {

        height: 70%;
        margin: 0;
    }

    .cart {
        order: 3;
        height: 80%;
        flex: 0 1 10%;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
    }

    nav {
        order: 2;
        margin: 0;
        flex: 0 1 40%;
        padding-right: 20px;
    }

    .main-nav a {
        border-top: none;
    }

    /* Most Loved - Tablet Resize ---- */

    .bio-text {
        padding-left: 2em;
        padding-right: 2em;
    }

    .bio-text h2 {
        line-height: 2em;
        font-size: 2em;
    }

    .bio-text p {
        line-height: 40px;
        font-size: 1.1em;
    }

    /*------ Gallery Cell - Tablet Resize------ */


    .gallery-cell {
        display: flex;
        flex-flow: row wrap;
        font-size: 1.75em;
        flex: 0 0 50%;

    }

    .gallery-cell:first-child,
    .gallery-cell:last-child {
        height: 200px;
        flex: 0 1 50%
    }

    .gallery-cell:nth-child(2),
    .gallery-cell:nth-child(3),
    .gallery-cell:nth-child(4),
    .gallery-cell:nth-child(5) {
        flex: 0 1 25%;
        height: 200px;
        justify-content: space-around;
    }

	/*most-loved*/

	h2.most-loved {
		font-size: 2em;
	}


    /*Carousel Tablet View*/

    .carousel-cell {
    	width: 40%;
    }


    /*Sign-Up - Tablet Resize*/

    .sign-up {
        background-size: 200% cover;
    }

    .sign-up h2 {
        margin-bottom: 0;
        padding-bottom: 25px;
        font-size: 2em;
    }

    .sign-up p {
        padding-left: 3em;
        padding-right: 3em;
        font-size: 1.1em;
        line-height: 30px;
    }

    .input-area {
        width: 50%;
        margin-top: 30px;
    }

    /*Footer - Tablet Resize*/

    .contact {
        margin: 10px;
        text-align: left;
        align-items: center;
        flex-flow: wrap column;
        width: 80%;
    }

    .contact p {
    	text-align: left;
    }

    .social {
        text-align: left;
        justify-content: center;
    }

    .social-list {
    	align-self: right;
    	flex-flow: nowrap column;
    	line-height: 2.5;
    	letter-spacing: 0.5px;
    }

    .social-list span {
    	display: inline-flex;
    }

}